<mat-card class="mat-elevation-z4">
    <mat-card-title class="cart-title">
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="100" fxLayoutAlign="center center">
                <span>Bienvenido</span>
            </div>
        </div>
        <hr>
    </mat-card-title>

    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">

        <button type="submit" mat-raised-button color="primary" fxFlex="100">
            Solicitar préstamo
        </button>

        <button type="submit" mat-raised-button color="accent" fxFlex="100">
            Mis préstamos
        </button>
    </div>
</mat-card>